<div class="container">
  <div class="row">
    <div class="centered-element">
      <div class="text-center">
      <%= image_tag 'logo.png', :size => '550x150' %>
        <h2>～思い出のアルバム～</h2>
        <p>大切な人へ贈り物をしようと考えている人達へ</p>
      </div>
    </div>
  </div>
</div>
