<div class="container-fluid my-5">
  <div class="row">
    <div class="text-content">
      <div class="main-text">
      <font face="HG丸ｺﾞｼｯｸM-PRO black"><h1>souvenir</h1>
        <h3>～思い出のアルバム～</h3>
        <p>大切な人へ 贈り物をしようと考えている人達へ</p>
      </font>
      <body>
        
      </body>
      </div>
    </div>
  </div>
</div>