<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">管理者メニュー</h2>
        <table class="table">
        <div class="row">
          <tr>
          <td>ユーザー</td>
        　　<th><%= link_to "一覧を見る", admin_users_path, :class => "btn btn-info" %></th>
        　</tr>
        　<tr>
        　<td>投稿アイテム</td>
        　　<th><%= link_to "一覧を見る", admin_items_path, :class => "btn btn-info" %></th>
        　</tr>
        　<tr>
        　<td>ジャンル</td>
        　　<th><%= link_to  "一覧・追加", admin_genres_path, :class => "btn btn-info" %></th>
        　</tr>
      　</table>
    　</div><br>
    </div>
  </div>
</div>