<div class="container-fluid my-5">
  <div class="row py-5">
    <div class="col-sm-6 offset-sm-6 p-5">
    <div class="image-container mx-auto mt-5 mb-5">
      <%= image_tag 'bg01.jpg', alt: 'Image', class: "img-fluid w-80 h-60 mx-auto d-block" %>
      <div class="main-text">
        <div class="text-content">
          <font face="HG丸ｺﾞｼｯｸM-PRO black"><h1>souvenir</h1>
          <h3>～思い出のアルバム～</h3>
          <p>大切な人へ贈り物をしようと考えている人達へ</p>
          </font>
        </div>
      </div>
    </div>
  </div>
</div>