    <div class='col-md-8 offset-md-1'>
      <h2>Users</h2>
        <div class="sample_box3_1">
        <span class="sample_box_title"></span>
        <%= render 'index',users: @users %>
        </div>
    </div>