<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h1>My Page</h1>
      <%= render 'info', user: @user %>

      <h3 class="mt-3">プレゼント登録</h3>
      <%= render 'public/items/form', item: @item %>
    </div>
  </div>
</div>
