<div class="container mt-5 mb-5">
  <div class="row mt-2 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background">User Information Edit</h3>
  </div>
  
   <%= form_with model: @item, url:edit_public_item_path, method: :patch do |f| %>
  <table>

